$flat-button {
  height 24px
  line-height @height
  border none
  padding-top 0
  padding-bottom 0
  font-size 12px
  cursor pointer
}

$widget-title {
  margin-top 12px
  margin-bottom 10px
  font-size 16px
  line-height 22px
  color #4d4b4e
  font-weight bold
}

$btn-base {
  width 293px
  height 36px
  // display flex
  // align-items center
  // justify-content center
  border #cccccc 1px solid
  fill white
  font-size 16px
  color #515151
  background white
}
